.searchInputs {
    /* margin-top: 105px; */
    margin-left: 15px;
    display: flex;
  }
  
  .search input {
    background-color: rgb(196, 196, 196);
    border: 0;
    border-radius: 2px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 18px;
    padding: 15px;
    height: 10px;
    width: 200px;
  }
  
  .searchIcon {
    margin-left: 10px;
    height: 40px;
    width: 40px;
    background-color: rgb(0, 0, 0);
    display: grid;
    place-items: center;
    color: white;
  }
  
  input:focus {
    outline: none;
  }
  .searchIcon svg {
    font-size: 35px;
  }
  
  .dataResult {
    margin-top: 5px;
    width: 300px;
    height: 200px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  .dataResult::-webkit-scrollbar {
    display: none;
  }
  
  .dataResult .dataItem {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    color: black;
  }
  
  .dataItem p {
    margin-left: 10px;
  }
  a {
    text-decoration: none;
  }
  
  a:hover {
    background-color: lightgrey;
  }
  
  #clearBtn {
    cursor: pointer;
  }